@charset "ISO-8859-1";

	html {
		content: "";
		background: url('/images/index.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		top:0;
		left:0;
		bottom:0;
		right:0;
		text-align: center;
		
	}
	
	h3.title {
		margin: 0 auto;
		padding: 10px;
		color: white;
		text-shadow: 0px 1px 5px black, 0px 1px 2px black, 0px -1px black;
	}
	h3.title span {
		font-size: 30px;
		text-shadow: 0px 1px 5px black, 0px 1px 2px black, 0px -1px black;
		color: white;
		font-weight: bold;
	}
	
	ul {
		padding: 0;
	}
	ul li {
		list-style: none;
		display: inline-block;
	}
	
	.nav-bar {
		padding-top: 1px;
		padding-bottom: 1px;
		background: indigo;
		color: white;
		margin-top:5px;
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 20px;
	}

	.nav-bar li a {
		color: white;
		padding: 10px;
		font-family: sans-serif;
		font-size: 15px;
		text-decoration: none;
	}
	.nav-bar li a:hover {
		opacity: 0.6;
		color: white;
		padding: 10px;
		font-family: sans-serif;
		font-size: 15px;
		text-decoration: none;
	}
	
	.logout {
		color: white;
		font-weight: bold;
		background: black;
		width: 80px;
		height: 23px;
	}
	.list-events {
		text-align: left;
		width: 500px;
		display: inline-block;
		background: #1A1A1A;
		opacity: 0.9;
		color: white;
		padding: 30px;
	}
	.list-events::after {
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: #343434;
		opacity:0.09;
		position: absolute;
		z-index: -1;
	}
	
	hr {
		border-top: solid 1px #444;
		border: 0;
		border-bottom: .5px solid #686868;
		height: 1px;
		background-color: #000;
	}
	
	.welcome {
		color: #0077ed;
		font-family: sans-serif;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 15px;
	}
	
	.event-desc {
		color: white;
		font-family: helvetica;
		font-weight: bold;
	}
	
	tr:nth-child(even){
		background-color: grey;
	}
	
	tr:nth-child(odd){
		background-color: #343434;
	}
	table {
		width: 100%;
		font-family: monospace;
		border-collapse: collapse;
	}
	td, th {
    	border: 1px solid darkgrey;
    	padding: 8px;
	}
	
	tr:hover {
		background-color: skyblue;
		color: black;
	}
	tr:hover a{
		color: darkmagenta;
	}
	th {
	    padding-top: 12px;
	    padding-bottom: 12px;
	    text-align: left;
	    background-color: midnightblue;
	    color: white;
	}
	
	td a {
		color: deepskyblue;
	}
	
	.edit {
		color: dodgerblue;
		font-weight: bold;
	}
	
	.delete {
		color: lightcoral;
		font-weight: bold;
	}
	
	.join {
		font-weight: bold;
		font-size: large;
	}
	
	.cancel {
		color: darkorange;
		font-weight: bold;
	}
	table.other th:nth-child(2), table.other td:nth-child(2) { 
		width: 78px; 
	}
	
	table.other th:last-child, table.other td:last-child { 
		width: 75px; 
	}
	/* .name {
		width: 97px;
	}
	
	.date {
		width: 129px;
	}
	
	.location {
		width: 71px;
	}
	
	.host {
		width: 51px;
	}
	
	.name2 {
		width: 96px;
	}
	
	.date2 {
		width: 86px;
	}
	
	.date3 {
		width: 82px;
	}
	
	.location2 {
		width: 80px;
	}
	
	.state3 {
		width: 36px;
	}
	
	.host2 {
		width: 52px;
	}
	
	.status2 {
		width: 58px;
	} */
	
	.create-event {
		text-align: left;
		width: 300px;
		display: inline-block;
		background: #1A1A1A;
		opacity: 0.9;
		color: white;
		padding: 30px;
		vertical-align: top;
	}
	.create-event::after {
		top:0;
		left:0;
		bottom:0;
		right:0;
		background: #343434;
		opacity:0.09;
		position: absolute;
		z-index: -1;
	}
	
	.create {
		font-family: sans-serif;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 15px;
		color: aqua;
	}
	.create-event label {
		font-family: helvetica;
		font-weight: bold;
		color: lightgray;
	}
	
	.create-button {
		width: 100%;
		height: 30px;
		color: white;
		font-weight: bold;
		background: blue;
		border: none;
	}
	input.name-label {
		margin-left: 22px;
		width: 173px;
	}
	select.category-label{
		margin-left: 45px;
	}
	input.date-label {
		margin-left: 80px;
	}
	
	label.details {
		vertical-align:top;
	}
	textarea.description-label {
		margin-left: 61px;
	}
	input.location-label {
		margin-left: 48px;
		width: 172px;
	}
	
	select.state-label {
		margin-left: 76px;
	}
	
	.joining {
		margin: 0 auto;
	}