@charset "ISO-8859-1";

	.image {
		top:0;
		left:0;
		bottom:0;
		right:0;
		display:block;
		/* position:relative; */
		text-align:center;
		
	}
	
	.image::after{
		content:"";
		background-image: url("/images/friends.jpg");
		opacity:0.5;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
	}
	
	h3.title {
		margin: 0 auto;
		padding: 10px;
		color:white;
		font-weight:bold;
		text-shadow: 0px 1px 2px black, 0px 1px 5px black, 0px -1px black;
	}
	h3.title span {
		font-size: 30px;
		text-shadow: 0px 1px 2px black, 0px 1px 5px black, 0px -1px black;
		color: white;
	}
	
	.register {
		border: 1px solid gainsboro;
		background: gainsboro;
		text-align: left;
		width: 335px;
		padding-bottom:20px;
		display: inline-block;
		vertical-align: top;
		padding-left: 20px;
		margin-right: 20px;
		opacity: 0.8;
	}
	.register h3 {
		text-align: center;
		margin-bottom: 0;
	}
	.register label {
		color: black;
		font-family: sans-serif;
	}
	
	h3{
		color: white;
		text-shadow: 0px 1px 2px black, 0px 1px 2px black, 0px -1px black;
		
	}
	p{
		color: black;
		font-weight: bold;
	}
	p.location {
		display: inline-block;
	}
	p.last, p.confirm {
		margin:0 auto;
	}
	
	p.password {
		margin-top: 0;
	}
	#firstname {
		margin-left: 7px;
		width: 214px;
	}
	
	#lastname {
		margin-left: 9px;
		width: 214px;
	}
	p.email {
		margin-bottom: 0px;
	}
	#email {
		margin-left: 5px;
		width: 256px;
	}
	
	#location {
		width: 110px;
	}
	p.state {
		display: inline-block;
		vertical-align: top;
	}
	p.state label {
		padding-left: 5px;
	}
	
	#state {
		width: 69px;
		height: 22px;
	}
	
	.register #password {
		margin-left: 15px;
		width: 157px;
	}
	#passwordConfirmation {
		margin-left: 4px;
		width: 157px;
	}
	p.confirm {
		margin-bottom: 10px;
	}
	.login {
		border: 1px solid gainsboro;
		background: gainsboro;
		text-align: left;
		width: 275px;
		padding-bottom:20px;
		display: inline-block;
		vertical-align: top;
		margin-right: 25px;
		padding-left: 20px;
		opacity: 0.8;
	}
	
	.login::after {
		opacity: 0.2;
		z-index:-1;
		background:white;
		border: 1px solid white;
	}
	div.about {
		width: 678px;
		display: inline-block;
		background: #343434;
		opacity: 0.9;
		margin-right: 25px;
		padding: 10px;
		font-family: monospace;
		margin-top: 20px;
		font-size: 14px;
	}
	div.about::after{
		
		opacity: 0.9;
		z-index: -1;
		
	}
	div.about h2 {
		color: dodgerblue;
		
	}
	
	div.about p {
		color: white;
		font-family: monospace;
		
	}
	.login h3 {
		margin-bottom: 0;
		text-align: center;
		
	}
	.login label{
		color: black;
		font-family: sans-serif;
	}
	#username {
		margin-left: 36px;
	}
	
	.login #password {
		margin-left: 3px;
	}
	
	.section {
		text-align: left;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	ul {
		padding: 0;
	}
	ul li {
		list-style: none;
		display: inline-block;
	}
	
	.nav-bar {
		padding-top: 1px;
		padding-bottom: 1px;
		background: orangered;
		color: white;
		margin-top:5px;
		margin-left: -10px;
		margin-right: -10px;

	}

	.nav-bar li a {
		color: white;
		padding: 10px;
		font-family: sans-serif;
		font-size: 15px;
		text-decoration: none;
	}
	.nav-bar li a:hover {
		opacity: 0.6;
		color: white;
		padding: 10px;
		font-family: sans-serif;
		font-size: 15px;
		text-decoration: none;
	}
	.errors {
		color: red;
		font-weight: initial;
	}
	
	.logout {
		color: white;
		display: block;
	}
	
	img {
		width: 600px;
	}
	
	.fun {
		width: 600px;
	}
	
	.login-button {
		width: 254px;
		height: 35px;
		font-weight: bold;
		color: white;
		background: darkorange;
		border: none;
	}
	.reg-button {
		width: 314px;
		height: 35px;
		font-weight: bold;
		color: white;
		background: green;
		border: none;
	}
	
	div.register hr {
		margin-right: 18px;
		
	}
	
	div.login hr {
		margin-right: 20px;
		
	}
	
	